{% extends 'base.html' %}

{% block title %}Read{% endblock %}
{% block content %}
    <h1>Employee Data</h1>
    <table align="center">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Phone no#</th>
            <th>Email</th>
            <th>CNIC</th>
            <th>Role</th>
            <th>Department</th>
        </tr>
        {% for i in objects %}
        <tr>
            <th>{{i.first_name}}</th>
            <th>{{i.last_name}}</th>
            <th>{{i.address}}</th>
            <th>{{i.phone}}</th>
            <th>{{i.email}}</th>
            <th>{{i.cnic}}</th>
            <th>{{i.role}}</th>
            <th>{{i.department}} <br></th>  
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'Home' %}"><button class="home">Home</button></a>
{% endblock %}